@font-face {
    font-family: "IRANSansWeb";
    src: url("../../font/IRANSansWeb.eot");
    src: url("../../font/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../../font/IRANSansWeb.woff") format("woff"),
    url("../../font/IRANSansWeb.ttf") format("truetype");

}

body {
    font-family: 'IRANSansWeb', system-ui;
    direction: rtl;
    background-image: url("../../img/site/esmg-bg.jpg");
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
}

@media (max-width: 576px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 220px;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 400px;
        overflow: hidden;
    }
}

@media (min-width: 769px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 550px;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 720px;
        overflow: hidden;
    }
}

.text-primary-1 {
    color: #006666 !important
}

.text-secondary-1 {
    color: #cfffff !important
}

.bg-primary-1 {
    background-color: #006666 !important
}

.bg-secondary-1 {
    background-color: #cfffff !important
}

.border-primary-1 {
    border-color: #006666 !important
}

.border-secondary-1 {
    border-color: #cfffff !important
}

.text-primary-2 {
    color: #063660 !important
}

.bg-primary-2 {
    background-color: #063660 !important
}

.border-primary-2 {
    border-color: #063660 !important
}

.bg-gradiant {
    background-image: linear-gradient(#022b19, #063660);
    /*background-image: linear-gradient(180deg, rgba(2, 43, 24, 1) 0%, rgba(6, 54, 96, 1) 64%, rgba(6, 54, 96, 0.34) 100%);*/
}

.bg-gradiant-1 {
    background-image: linear-gradient(#063660, #022b19);
    /*background-image: linear-gradient(180deg, rgba(2, 43, 24, 1) 0%, rgba(6, 54, 96, 1) 64%, rgba(6, 54, 96, 0.34) 100%);*/
}

.bg-gradiant-2 {
    background-image: linear-gradient(180deg, rgba(6, 54, 96, 1) 0%, rgba(6, 54, 96, 1) 64%, rgba(6, 54, 96, 0.34) 100%);
}

.bg-gradiant-3 {
    background-image: linear-gradient(0, rgba(6, 54, 96, 1) 0%, rgba(6, 54, 96, 1) 64%, rgba(6, 54, 96, 0.34) 100%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #006666 !important;
    border-radius: 100px;
    background-size: 60% 60%;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: all 0.5s;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    opacity: 1;
    width: 60px;
    height: 60px;
}

.content-zoom {
    transition: .5s;
}

.content-zoom:hover {
    transform: scale(1.1);
}

.letter {
    display: inline-block;
}

.carousel-caption {
    padding-bottom: 10rem;
}
