@font-face {
    font-family: "IRANSansWeb";
    src: url("../../font/IRANSansWeb.eot");
    src: url("../../font/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../../font/IRANSansWeb.woff") format("woff"),
    url("../../font/IRANSansWeb.ttf") format("truetype");

}

body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'IRANSansWeb', system-ui;
    direction: rtl;
}

/*#neubar {*/
/*    background: #cfffff;*/
/*    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4)*/
/*}*/

/*.nav-item .active {*/
/*    border-radius: 6px;*/
/*    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);*/
/*    box-shadow: 4px 4px 8px #ddc1a0,*/
/*    -4px -4px 8px #f7e5cc;*/
/*}*/

/*#neubar .dropdown-menu a:hover {*/
/*    color: #454545*/
/*}*/

/*#neubar .nav-item {*/
/*    margin: auto 4px;*/
/*}*/

/*#neubar a {*/

/*    padding-left: 12px;*/
/*    padding-right: 12px;*/
/*}*/

/*#neubar .dropdown-menu {*/
/*    background: #545454*/
/*}*/

/*a.navbar-brand {*/
/*    color: #454545*/
/*}*/

@media (max-width: 576px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 220px;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 400px;
        overflow: hidden;
    }
}

@media (min-width: 769px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 550px;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 720px;
        overflow: hidden;
    }
}

.text-primary-1 {
    color: #006666 !important
}

.text-secondary-1 {
    color: #cfffff !important
}

.bg-primary-1 {
    background-color: #006666 !important
}

.bg-secondary-1 {
    background-color: #cfffff !important
}

.border-primary-1 {
    border-color: #006666 !important
}

.border-secondary-1 {
    border-color: #cfffff !important
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #006666 !important;
    border-radius: 100px;
    background-size: 60% 60%;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: all 0.5s;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    opacity: 1;
    width: 60px;
    height: 60px;
}

.difftainer {
    position: relative;
    width: 320px;
    margin: 40px auto 500px auto;
    perspective: 1000px;


}

.carousel2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
}

.carousel__face:nth-child(1) {
    transform: rotateY(  0deg) translateZ(400px);}
.carousel__face:nth-child(2) {
    transform: rotateY( 60deg) translateZ(400px); }
.carousel__face:nth-child(3) {
    transform: rotateY( 120deg) translateZ(400px); }
.carousel__face:nth-child(4) {
    transform: rotateY(180deg) translateZ(400px); }
.carousel__face:nth-child(5) {
    transform: rotateY(240deg) translateZ(400px); }
.carousel__face:nth-child(6) {
    transform: rotateY(300deg) translateZ(400px); }


@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
