@font-face {
    font-family: "IRANSansWeb";
    src: url("../../font/IRANSansWeb.eot");
    src: url("../../font/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../../font/IRANSansWeb.woff") format("woff"),
    url("../../font/IRANSansWeb.ttf") format("truetype");

}

body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'IRANSansWeb', system-ui;
    direction: rtl;
}

/*#neubar {*/
/*    background: #cfffff;*/
/*    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4)*/
/*}*/

/*.nav-item .active {*/
/*    border-radius: 6px;*/
/*    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);*/
/*    box-shadow: 4px 4px 8px #ddc1a0,*/
/*    -4px -4px 8px #f7e5cc;*/
/*}*/

/*#neubar .dropdown-menu a:hover {*/
/*    color: #454545*/
/*}*/

/*#neubar .nav-item {*/
/*    margin: auto 4px;*/
/*}*/

/*#neubar a {*/

/*    padding-left: 12px;*/
/*    padding-right: 12px;*/
/*}*/

/*#neubar .dropdown-menu {*/
/*    background: #545454*/
/*}*/

/*a.navbar-brand {*/
/*    color: #454545*/
/*}*/

@media (max-width: 576px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 220px;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 400px;
        overflow: hidden;
    }
}

@media (min-width: 769px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 550px;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .slide-show-img-fix {
        display: block;
        width: 100% !important;
        height: 720px;
        overflow: hidden;
    }
}

.text-primary-1 {
    color: #006666 !important
}

.text-secondary-1 {
    color: #cfffff !important
}

.bg-primary-1 {
    background-color: #006666 !important
}

.bg-secondary-1 {
    background-color: #cfffff !important
}

.border-primary-1 {
    border-color: #006666 !important
}

.border-secondary-1 {
    border-color: #cfffff !important
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #006666 !important;
    border-radius: 100px;
    background-size: 60% 60%;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: all 0.5s;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    opacity: 1;
    width: 60px;
    height: 60px;
}

.difftainer {
    position: relative;
    width: 320px;
    margin: 40px auto 500px auto;
    perspective: 1000px;


}

.carousel2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
}

.carousel__face:nth-child(1) {
    transform: rotateY(0deg) translateZ(400px);
}

.carousel__face:nth-child(2) {
    transform: rotateY(60deg) translateZ(400px);
}

.carousel__face:nth-child(3) {
    transform: rotateY(120deg) translateZ(400px);
}

.carousel__face:nth-child(4) {
    transform: rotateY(180deg) translateZ(400px);
}

.carousel__face:nth-child(5) {
    transform: rotateY(240deg) translateZ(400px);
}

.carousel__face:nth-child(6) {
    transform: rotateY(300deg) translateZ(400px);
}


@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

* {
    box-sizing: border-box;
}


.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    transform: translateY(70px);
    transition: all 250ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.floating-chat.enter:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1;
}

.floating-chat.enter {
    transform: translateY(0);
    opacity: 0.6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
}

.floating-chat.expand {
    width: 250px;
    max-height: 400px;
    height: 400px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
}

.floating-chat :focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt rgba(14, 200, 121, 0.3);
}

.floating-chat button {
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 250ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.floating-chat .chat.enter {
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}

.floating-chat .chat .header {
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
}

.floating-chat .chat .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
}

.floating-chat .chat .header button {
    flex-shrink: 0;
}

.floating-chat .chat .footer {
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    max-height: 90px;
    background: transparent;
}

.floating-chat .chat .footer .text-box {
    border-radius: 3px;
    background: rgba(25, 147, 147, 0.2);
    min-height: 100%;
    width: 100%;
    margin-right: 5px;
    color: #0ec879;
    overflow-y: auto;
    padding: 2px 5px;
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar {
    width: 5px;
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}

@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
